<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Results</title>
</head>
<body>
    <div id="ladder">
        {% for group in groups %}
        <div class="tied-group" id="group-{{group.seq}}">
            {% if group.members | length > 1 %}
            <div class="tie-banner">TIE</div>
            {% endif%}
            <div class="candidates">
            {% for candidate in group.members %}
            <div class="candidate {% if not is_open and group.seq == 0 %} winner {% endif %}">{{candidate}}</div>
            {% endfor %}
            </div>
            {% for reversal in group.reversals %}
            <div class="reversal" id="reversal-{{reversal.seq}}">
                <div class="reversal-arc"></div>
                <div class="reversal-margin margin">{{reversal.margin}}</div>
                <div class="reversal-arrow"></div>
            </div>
            {% endfor %}
        </div>
        {% if not loop.last %}
        <div class="defeat">
            <div class="defeat-line"></div>
            <div class="defeat-margin margin">{{group.margin}}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>
